:root {
  --main-bg-color: #000000;
  --main-text-color: #5a00b4;
  --section-title-color : #5a00b4;
  --secondary-text-color: #a8a8a8;

  --book-front-color: #4b4b4b;
  --book-back-color: #000000;
  

  --main-padding: 16px;
}


/* grid */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  min-height: 90vh;
  background: var(--main-bg-color);
  background-image: linear-gradient(
      rgba(193, 155, 255, 0.09) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(155, 155, 255, 0.09) 0.1em, transparent 0.1em);
  background-size: 2em 2em;
}

h1 {
  color: var(--main-text-color);

  text-align: center;
}

div.vertical-separator{
  width: 70%;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

div.section{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h2{
  color: var(--section-title-color);
  width: 100%;
  text-align: left;
}

p{
  text-align: justify;
  color: var(--secondary-text-color);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 12px; 
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px; 
  border: 3px solid #111; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



/* shelf */
div.shelf {
  display: flex; 
  perspective: 3500px;
}

.container {
  --width: 35px;
  --height: calc(var(--width) * 4);
  --depth: calc(var(--width) * 3);
  --padding: 20px;



  width: calc(var(--width) + var(--padding));
  height: var(--height);

  display: grid;
  place-items: center;

  transform-style: preserve-3d;
  transform: translateZ(calc(var(--depth) / -2));

  transition: transform 0.3s, width 0.3s;

  &:hover {
    transform: translateY(-10px) translateZ(calc(var(--depth) / -2));
  }

  &:has(input:checked) {
    width: calc(var(--depth) + var(--padding));
    transform: translateZ(0);
  }
}

.book {
  color: #440d89;

  width: var(--width);
  height: var(--height);

  position: relative;
  transform-style: preserve-3d;

  transition: transform 0.3s;

  & div {
    position: absolute;
    transition: background-color 0.3s;
  }

  /* front and back */
  & div:nth-child(-n+2) {
    background: #dadada;
    height: var(--height);
    width: var(--width);
  }

  & div:nth-child(1) {
    transform: rotateY(0deg) translateZ(calc(var(--depth) / 2));

    & span {
      display: block;
      transform: rotateZ(90deg);
      margin-top: 20px;
      text-wrap: nowrap;
      font-size: 12px;
    }		
  }

  & div:nth-child(2) {
    transform: rotateY(180deg) translateZ(calc(var(--depth) / 2));
  }

  /* left and right */
  & div:nth-child(3), & div:nth-child(4) {
    background: #777;
    height: var(--height);
    width: var(--depth);
    left: calc(var(--width) * -1);
  }

  & div:nth-child(3) {
    transform: rotateY(90deg) translateZ(calc(var(--width) / 2));

    & span {
      display: block;
      margin-top: 20px;
      text-wrap: nowrap;
      text-align: center;
      font-size: 14px;
    }		
  }

  & div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
  }

  & > input {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
  }

  &:has(>input:checked) {
    transform: translateZ(calc(var(--width) / -2)) rotateY(-90deg);

    /* left and right */
    & div:nth-child(3), & div:nth-child(4) {
      background: #d7d7d7;
    }

    /* front and back */
    & div:nth-child(-n+2) {
      background: #777;
    }
  }
}